<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить продукт</title>
</head>
<body>
<h1>Добавить новый продукт</h1>
<form th:action="@{/product}" th:object="${newProduct}" method="post">
    <label for="nomination">Название:</label>
    <input type="text" id="nomination" th:field="*{nomination}" required>
    <br>
    <label for="price">Цена:</label>
    <input type="text" id="price" th:field="*{price}" required>
    <br>
    <label for="description">Описание:</label>
    <textarea id="description" th:field="*{description}" required></textarea>
    <br>
    <label for="sellBy">Срок продажи:</label>
    <input type="date" id="sellBy" th:field="*{sellBy}" required>
    <br>
    <label for="productType">Тип продукта:</label>
    <select id="productType" th:field="*{productType}" required>
        <option value="EAT">Еда</option>
        <option value="USE">Использовать</option>
    </select>
    <br>
    <button type="submit">Добавить продукт</button>
</form>
<p><a th:href="@{/product}">Назад к списку продуктов</a></p>
</body>
</html>